/* UniqueMoves.css */

/* Container for the heatmap and input boxes */
.input-container {
    margin-bottom: 20px;
}

/* Style for input boxes and select */
.input-boxes {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-boxes label {
    font-weight: bold;
}

.input-boxes input[type="number"],
.input-boxes select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-boxes input[type="number"] {
    width: 80px;
}

.input-boxes select {
    min-width: 120px;
}


/* Hide text except for move on mobile */
@media (max-width: 768px) {


    .input-boxes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120px;
        position: sticky;
        left: 0;
        top: 0;
        background-color: white;
        padding: 10px;
        z-index: 100;
        align-items: start;
        padding: 10px;
        border: 5px solid #ccc;
    }

    .input-boxes label {
        padding-left: 10px;
        padding-right: 10px;
    }
       

    .piece-section {
        width: 12vw;
    }

    .piece-section > h3 {
        font-size: 15px;
    }

    .heatmap-container {
        display: flex;
        gap: 10px;
    }

    /* .heatmap-item span {
        display: none;
    } */







}