/* .chessboard {
    display: inline-block;
    background-color: inherit;
    width: 100%;
    height: 100%;
  } */

  :root {
    /* Declare Square and Piece colours */
    --declare-light-square-colour: #8b6c5c;
    --declare-dark-square-colour:  #3d251e;
    --declare-white-piece-colour: white;
    --declare-black-piece-colour: black;


    /* Declare Square and Piece colours */
    --light-square-colour: var(--declare-light-square-colour);
    --dark-square-colour: var(--declare-dark-square-colour);
    --white-piece-colour: var(--declare-white-piece-colour);
    --black-piece-colour: var(--declare-black-piece-colour);
}


.chessboard {
    display: block;
    border: 10px solid black;

}
  
  .row {
    display: flex;
  }
  
  .square {
    flex: 1;
    aspect-ratio: 1;

    display: flex;
    align-items: center;            /* Allows chess pieces to be vertically center */
    justify-content: center;        /* Allows chess pieces to be horizontally center */
    border: 1px solid black;


    /* align-content: center;
    justify-content: center; */
  }
  
  /* .black {
    background-color: var(--black-color, black);
  }
  
  .white {
    background-color: var(--white-color, white);
  } */


  .black {
    background-color: var(--dark-square-colour);
  }
  
  .white {
    background-color: var(--light-square-colour);
  }
  

  .chessboard .chess-piece {
    flex: 1;
    aspect-ratio: 1;
    /* font-size: 36px; */
    color: red; /* Default color */
    padding: 0;
    margin: 0;
    background-color: inherit;
  }

  .chessboard .chess-piece *:first-child {
    display: flex;
    /* background-color: purple; */
    /* color: purple; */

    align-self: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  /* Chess pieces to not fill the entire square */
  .chessboard .chess-piece:first-child:first-child {
    width: 80%;
    height: 80%;
  }

  .chessboard .chess-piece.white {
    color: var(--white-piece-colour);
  }

  .chessboard .chess-piece.black {
    color: var(--black-piece-colour);
  }