
/* Currently not used */
:root {
    --current-style: draw; /* Change this variable to switch styles */

    --background-colour: var(--style-background-colour);
    --text-colour: var(--style-text-colour);
    --sidebar-colour: var(--style-sidebar-colour);
  }
  

:root[data-style="win"] {
    --style-background-colour: #81ACFF;
    --style-text-colour: #81ACFF;
    --style-sidebar-colour: #098e31;
}

:root[data-style="lose"] {
    --style-background-colour: #FF6C81;
    --style-text-colour: #FF6C81;
    --style-sidebar-colour: #c90606eb;
}

:root[data-style="draw"] {
    --style-background-colour: #bbbbbb;
    --style-text-colour: #A88A67;
    --style-sidebar-colour: #A88A67;
}








* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* border: none; */
}



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  /* Container that aligns the game information on the page  - may not even be required*/
  .single-game-container {
    overflow-y: hidden;

}


[row="1"] {
    grid-row: 1;
}

[row="2"] {
    grid-row: 2;
}

[row="3"] {
    grid-row: 3;
}

[row="4"] {
    grid-row: 4;
}

[row="5"] {
    grid-row: 5;
}

[row="6"] {
    grid-row: 6;
}

[row="7"] {
    grid-row: 7;
}

[row="8"] {
    grid-row: 8;
}

[row="9"] {
    grid-row: 9;
}


[col="1"] {
    grid-column: 1;
}

[col="2"] {
    grid-column: 2;
}

[col="3"] {
    grid-column: 3;
    align-content: right;
    text-align: right;
}



.singleMatch {
    display: grid;
    grid-template-columns: 2% 57% 1fr;
    grid-template-rows: repeat(8, 1fr);
    width: 50%;
    min-width: 700px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    max-height: 300px;
}

/* .singleMatch span svg:first-child {
    color: #81ACFF;
} */

.icon {
    color: #A88A67;
}

.win .icon {
    color: green;
}

.loss .icon {
    color: red;
}


span {
    padding-left: 10px;
    display: flex;

}

.singleMatch span {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

svg {
    min-width: 20px;
}


.singleMatch span svg:first-child {
    margin-right: 10px; 
    font-size: 20px;
}

.singleMatch span strong:last-child {
    padding-left: 10px;
    /* font-size: 10px; */
}




.result-bar {
    grid-row-end: 10;
    border-radius: 100px;
    background-color: gray;
    /* background-color: var(--body-background-color); */
}

.win .result-bar {
    background-color: green;
}

.loss .result-bar {
    background-color: red;
}







.singleMatch.win {
    background-color: #81ACFF;
}


.singleMatch.loss {
    background-color: #FF6C81;
}


.singleMatch.draw {
    background-color: #A88A67;
}


.board-span {
    grid-row: span 9;
    /* aspect-ratio: 1; */
}

.chessboard-container {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;
    background-color: inherit;
     /* Maintain a 1:1 aspect ratio (equal height and width) */
}




.singleMatch .match-info-opening a {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}

.singleMatch .match-info-moves p {
    display: flex;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    color: inherit;
}


.singleMatch .match-info-white .chess-piece {
    color: var(--white-piece-colour);
    background-color: inherit;
}

.singleMatch .match-info-black .chess-piece {
    color: var(--black-piece-colour);
    background-color: inherit;
}





/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
    /* Update your CSS styles for mobile here */
    .singleMatch {
      width: 100%; /* Adjust width for smaller screens */
      min-width: unset; /* Remove minimum width restriction */
      margin: 10px auto; /* Center align and add margin */
      grid-template-columns: 2% 50% 1fr; /* Adjust grid template columns */
    }
  
    .board-span {
        /* grid-row: span 9; */
        grid-row-start: 3;
        grid-row-end: 7;
        /* aspect-ratio: 1; */
    }
  
    /* Adjust font sizes or other styles for better readability on mobile */
    span {
      padding-left: 5px; /* Adjust padding */
    }
  
    .singleMatch span svg:first-child {
      margin-right: 5px; /* Adjust margin */
      font-size: 18px; /* Adjust font size */
    }
  
    .singleMatch span strong:last-child {
      padding-left: 5px; /* Adjust padding */
    }
  
    /* Adjust any other styles as needed for mobile */
  }
  